:root{
    --vermelho: #c6fcff;
    --preta:#9900fa;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*
Elementos base
*/

body{
background: var(--preta);
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: aliceblue;
    }

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: Verdana, Geneva, Helvetica, sans-serif;
}

header nav a{
    text-decoration: white;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;    
}

/*
Coisas separadas para o filme principal.
*/
.album-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0,.50),rgba(0,0,0,.50)100%), url('../img/comunidade.jfif');
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.album-principal .descricao{
    margin-bottom: 40px;
    width: 60%;
    text-align: justify;
}

.botao{
    height: 40px;
}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 35px;

}

.botao{
    background-color: rgba(0, 0, 0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 16px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.container{
    margin-left: 10px;
    margin-right: 10px;
}

.box-sugestao{
    height: 100%;
    width: 100%;
    display: block;
}

.video{
    display: flex;
}